<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Tasks App</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

    <script src="/custom/socket.io.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
