<div class="container-fluid">
    <div class="row header">
      <div class="col-md-6">
        
        <div class="row">
          <div class="col-md-2">1</div>
          <div class="col-md-10">
            <span class="white">[</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="red">|</span>
            <span class="red">|</span>
            <span class="green">|</span>
            <span class="white">34%</span>
            <span class="white">]</span>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2">2</div>
          <div class="col-md-10">
            <span class="white">[</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="red">|</span>
            <span class="red">|</span>
            <span class="green">|</span>
            <span class="white">30%</span>
            <span class="white">]</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">Mem</div>
          <div class="col-md-10">
            <span class="white">[</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="red">|</span>
            <span class="red">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="gray">993MB</span>
            <span class="white">]</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">Swp</div>
          <div class="col-md-10">
            <span class="white">[</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span class="green">|</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span class="gray">63/953MB</span>
            <span class="white">]</span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        
        <div class="row">
          <div class="col-md-6">Tasks: <span class="white">34 33</span></div>
          <div class="col-md-6">thr: <span class="white">1</span> running</div>
        </div>

        <div class="row">
          <div class="col-md-12">Load average: <span class="white">0.05, 0.17 0.21</span></div>
        </div>

        <div class="row">
          <div class="col-md-12">Uptime: <span class="white">20 days, 11:57:29</span></div>
          <div class="col-md-12">
            <svg id="visualisation" width="800" height="120"></svg>
          </div>
        </div>

      </div>
    </div>
  </div>