<div class="container-fluid">
    <table class="table table-sm data-table">
      <thead>
        <tr>
          <th>PID</th>
          <th>User</th>
          <th>Name</th>
          <th>RES</th>
          <th>MEM%</th>
          <th>TIME+</th>
          <th class="col-md-3">Command</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
        <tr>
          <td>12648</td>
          <td>root</td>
          <td>dummy process</td>
          <td>1860</td>
          <td>0.23</td>
          <td>9h23:43</td>
          <td>del-cli public/js/app</td>
        </tr>
      </tbody>
    </table>
</div>